body {font-family: Verdana, Geneva, Meiryo, sans-serif;}
h3 {font-family: Verdana, Geneva, Meiryo, sans-serif;}

#header {font-size:25px; background-color:#9CC;}

table
{
border-collapse:collapse;
}

table,th, td
{
border: 1px solid black;
}